.DS_Store
VidScrape/*_vids
.idea
Videos/compressed_country/
Videos/compressed_edm/
Videos/compressed_pop/
Videos/compressed_rap/
Videos/compressed_rock/
Videos/country_vids/
Videos/edm_vids/
Videos/pop_vids/
Videos/rap_vids/
Videos/rock_vids/
Videos2/compressed_country/
Videos2/compressed_edm/
Videos2/compressed_pop/
Videos2/compressed_rap/
Videos2/compressed_rock/
Videos2/country_vids/
Videos2/edm_vids/
Videos2/pop_vids/
Videos2/rap_vids/
Videos2/rock_vids/
banks.mp4
bare.mp4
output.jpeg
ssh-keypair.pem
